
// colores
$primary-red: #CC0000;
$secondary-background-gray: #F6F6F7;
$secondary-gray: #EAEAEB;
$dark-gray: #868B8F;
$primary-gray: #DCDCDC;
$background-blue: #F5F8FF;
$primary-black: #353B43;
$primary-blue: #5386FF;